@keyframes stars {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background: #0b0c1e; /* Fundo escuro */
  color: #e0e0e0; /* Cor do texto */
  font-family: "Arial", sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5em;
  color: #ffffff; /* Cor do título */
}

.cardContainer {
  display: grid; /* Usar grid para organizar os cartões */
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Ajuste responsivo */
  gap: 20px; /* Espaçamento entre os cartões */
}

.card {
  background-color: #1a1a2e; /* Cor de fundo dos cartões */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  text-decoration: none; /* Remove sublinhado */
  transition: transform 0.2s, background-color 0.3s; /* Efeitos de transição */
}

.card:hover {
  transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
  background-color: #16213e; /* Cor ao passar o mouse */
}

.cardContent {
  display: flex; /* Usar flex para alinhar ícone e título */
  align-items: center; /* Centraliza verticalmente */
}

.cardTitle {
  margin-left: 10px; /* Espaçamento entre ícone e título */
  font-size: 1.5em; /* Tamanho do título do cartão */
  color: #e0e0e0; /* Cor do título */
}

.icon {
  font-size: 1.5em; /* Tamanho do ícone */
  color: #ff6347; /* Cor do ícone */
  animation: bounce 0.5s infinite alternate; /* Animação do ícone */
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

/* Estrelas no fundo */
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" fill="%23ffffff" opacity="0.1"%3E%3Ccircle cx="100" cy="100" r="1"/%3E%3C/svg%3E')
    repeat;
  opacity: 0.8;
  z-index: 0;
  pointer-events: none;
  animation: stars 1.5s infinite ease-in-out; /* Animação do fundo */
}
